In [1]:
!ls

Testing API to pandas.ipynb neiss
Untitled.ipynb              potholes
crypto                      wafflehouses

In [2]:
import pandas as pd

%matplotlib inline

In [4]:
df = pd.read_excel("/Users/kosmas/Downloads/LEDE_Programm/Python/06-classwork/potholes/2007-2017 POTHOLE.xls")
df.head()

       A          Street           EnterDt           PrintDt          ResolvDt
0   7741       N 59TH ST  2017-07-15 08:55  2017-07-17 05:33  2017-07-21 04:51
1   5517       N 39TH ST  2017-07-14 22:36  2017-07-17 05:33  2017-07-25 15:29
2   8242  N GRANVILLE RD  2017-07-14 18:30  2017-07-17 05:33  2017-07-17 06:55
3   3364  W LAKEFIELD DR  2017-07-14 16:35  2017-07-17 05:22  2017-07-18 05:47
4  10700  W GOOD HOPE RD  2017-07-14 15:18  2017-07-17 05:33  2017-07-21 04:58

In [6]:
df.shape

(65535, 5)

In [7]:
df.dtypes

A            int64
Street      object
EnterDt     object
PrintDt     object
ResolvDt    object
dtype: object

In [8]:
df.tail()

,A,Street,EnterDt,PrintDt,ResolvDt
65530,6300,W ARMITAGE AV,2012-01-12 06:16,2012-01-12 06:48,2012-01-24 05:32
65531,6000,W LINCOLN CREEK DR,2012-01-12 06:15,2012-01-12 06:48,2012-01-19 14:48
65532,6600,W CONSTANCE AV,2012-01-12 06:14,2012-01-12 06:48,2012-01-13 05:44
65533,6000,W LEON TR,2012-01-12 06:13,2012-01-12 06:48,2012-01-19 14:47
65534,5135,N 32ND ST,2012-01-12 06:12,2012-01-12 06:45,2012-01-18 06:29

In [5]:
df.Street.value_counts()

N 60TH ST           734
W FOND DU LAC AV    731
W LISBON AV         635
W HAMPTON AV        633
W MORGAN AV         582
N TEUTONIA AV       537
W CAPITOL DR        500
N SHERMAN BL        466
W CENTER ST         447
W WISCONSIN AV      437
W LOCUST ST         422
W BURLEIGH ST       410
N 27TH ST           399
W VILLARD AV        390
N 91ST ST           382
S 60TH ST           359
W OKLAHOMA AV       357
W BRADLEY RD        333
W HOWARD AV         332
S 20TH ST           331
N 37TH ST           327
N 92ND ST           319
N 53RD ST           318
W FAIRMOUNT AV      316
W CONGRESS ST       314
W ROOSEVELT DR      310
W KEEFE AV          303
W LINCOLN AV        301
N 41ST ST           300
N 55TH ST           299
                   ...
W 19TH CT             1
N FAIRWAY PL          1
N CALLAHAN PL         1
W SOMERS ST           1
W DANA ST             1
W DOROTHY PL          1
S DAVIDSON ST         1
W VICTORY LA          1
W MC KINLEY CT        1
W ASH ST              1
W LYNNDALE AV         1
E BURDICK AV          1
E EDEN PL             1
N 122ND ST            1
E CLARENCE ST         1
E CAROL ST            1
S TAYLOR CT           1
S 82ND CT             1
N ARGONNE DR          1
W MEADOWCREEK DR      1
W WILSON DR           1
W LYNX CT             1
N WINDERMERE CT       1
W POTAWATOMI CR       1
W PRESIDIO LA         1
W KERNEY PL           1
W RUSKIN CT           1
W WILBUR CT           1
W MARGARET PL         1
W CAPITOL PL          1
Name: Street, Length: 1221, dtype: int64